In [1]:
import numpy as np
import pandas as pd

Задание 1

In [2]:
from sklearn.datasets import load_boston

In [3]:
boston = load_boston()

In [4]:
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [5]:
data = boston['data']

In [6]:
target = boston['target']

In [7]:
X = pd.DataFrame(data)

In [8]:
X.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [9]:
X.columns = boston['feature_names']

In [10]:
Y = pd.DataFrame(target, columns=['price'])

In [11]:
Y.head()

   price
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.3, random_state = 42)

In [14]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 152 entries, 173 to 447
Data columns (total 13 columns):
CRIM       152 non-null float64
ZN         152 non-null float64
INDUS      152 non-null float64
CHAS       152 non-null float64
NOX        152 non-null float64
RM         152 non-null float64
AGE        152 non-null float64
DIS        152 non-null float64
RAD        152 non-null float64
TAX        152 non-null float64
PTRATIO    152 non-null float64
B          152 non-null float64
LSTAT      152 non-null float64
dtypes: float64(13)
memory usage: 16.6 KB

In [15]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 354 entries, 5 to 102
Data columns (total 13 columns):
CRIM       354 non-null float64
ZN         354 non-null float64
INDUS      354 non-null float64
CHAS       354 non-null float64
NOX        354 non-null float64
RM         354 non-null float64
AGE        354 non-null float64
DIS        354 non-null float64
RAD        354 non-null float64
TAX        354 non-null float64
PTRATIO    354 non-null float64
B          354 non-null float64
LSTAT      354 non-null float64
dtypes: float64(13)
memory usage: 38.7 KB

In [16]:
from sklearn.linear_model import LinearRegression

In [17]:
Y_test.head()

     price
173   23.6
274   32.4
491   13.6
72    22.8
452   16.1

In [18]:
lr = LinearRegression()

In [19]:
lr

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [20]:
lr.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [21]:
Y_pred = lr.predict(X_test)

In [22]:
check = pd.DataFrame({
    "y_test": Y_test["price"],
    "y_pred": Y_pred.flatten(),
})

In [23]:
check.head()

     y_test     y_pred
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280

In [24]:
from sklearn.metrics import r2_score

In [25]:
r2_score(Y_test, Y_pred)

0.7112260057484878

In [26]:
X_train.to_pickle('X_train')

In [27]:
Y_train.to_pickle('Y_train')

In [28]:
X_test.to_pickle('X_test')

In [29]:
Y_test.to_pickle('Y_test')

Задание 2

In [30]:
from sklearn.ensemble import RandomForestRegressor

In [31]:
model = RandomForestRegressor(max_depth=12, random_state=42,
                             n_estimators=1000)

In [32]:
Y_train_tr = Y_train.values[:,0]

In [33]:
model.fit(X_train, Y_train_tr)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=12,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=1000, n_jobs=None,
           oob_score=False, random_state=42, verbose=0, warm_start=False)

In [34]:
Y_pred = model.predict(X_test)

Y_test = pd.read_pickle('Y_test')

In [35]:
check2 = pd.DataFrame({
    "y_test": Y_test['price'],
    "y_pred": Y_pred,
})

In [36]:
r2_score(Y_test,Y_pred)

0.8749965273218174

Модель RandomForestRegressor работает лучше, чем LinearRegression

Задание 3

In [37]:
model.feature_importances_

array([0.03211748, 0.00154999, 0.0070941 , 0.0011488 , 0.01436832,
       0.40270459, 0.01424477, 0.06403265, 0.00496762, 0.01169177,
       0.01808961, 0.0123114 , 0.41567892])

In [38]:
sum(model.feature_importances_)

0.9999999999999993

In [74]:
imp = pd.DataFrame(model.feature_importances_, index = X_train.columns, 
                   columns = ['Importance']).sort_values('Importance', ascending = False)

In [75]:
imp[0:2]

       Importance
LSTAT    0.415679
RM       0.402705

2 самых важных признака LSTAT и RM